@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Commit Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/public/fonts/commit-mono-variable.woff2') format('woff2');
    }
}

@layer components {
    .header-collapse {
        @apply border-b h-20 !important;
    }

    .description:before {
        @apply -left-4 w-4 bg-php-purple-bleak rounded-l-lg md:-left-12 md:w-12 dark:bg-php-gray;
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
    }
    .description:after {
        @apply -right-4 w-4 bg-php-purple-bleak rounded-r-lg md:-right-12 md:w-12 dark:bg-php-gray;
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
    }

    @media screen(md) {
        .main {
            min-height: calc(100svh - theme(spacing.24));
            margin-top: theme(spacing.24);
        }
    }
}
