@import '../../vendor/tempest/highlight/src/Themes/Css/dracula-soft.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Commit Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/public/fonts/commit-mono-variable.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Commit Mono';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/public/fonts/commit-mono-variable.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Commit Mono';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/public/fonts/commit-mono-variable.woff2') format('woff2');
    }

    /* Override Tempest theme */
    pre, code {
        color: inherit;
        background-color: inherit;
    }

    [x-cloak] {
        display: none;
    }
}

@layer components {

    .header-collapse {
        @apply border-b h-20 !important;
    }

    .operator-content > p {
        @apply mb-3;
    }

    @media screen(md) {
        .main {
            min-height: calc(100svh - theme('spacing.24'));
            margin-top: theme('spacing.24');
        }
    }

    @media screen and (min-width: 1025px) {
        .description {
            @apply rounded-lg;
        }
    }
}
